<body>
    <%- include('../partials/headerSchoolAdmin', { 
        title: locals.headerTitle, 
        schoolId: locals.schoolId,
        currentPage: locals.currentPage 
    }) %>
    
    <div class="container">
        <%- body %>
    </div>
    
    <%- include('../partials/footer') %>
    
</body>